<main id = "shrinkTrigger" class="intro-main-container">
  <div ng-style = "portfolioPictureDexriptionContainer"class="portfolioPicture-description-container">
    <p ng-style = "showPortfolio"class="introPageHeader">JOSHUA RICHARD SMITH</p>
    <div class="profilePicture-container">
      <img ng-style = "showPortfolio"class="profilePicture"src="../Images/IMG_20161105_093200.jpg">
    </div>
  </div>
  <div class="typewriter-container">
    <div  ng-style = "shrinkContainer" id = "trigger-typewriter" class="typewriter">
      <h1 ng-style = "shrink" >Hello, world.</h1>
    </div>
  </div>

    <a  href="../downloads/JoshuaRichardSmithResume.pdf" download>
      <button class="download-buttons"id="dowload-Resume" type="button" name="button">Resume</button>
      </a>


    <a href="../downloads/JoshuaRichardSmithCoverLetter.pdf" download>
      <button  class="download-buttons" id="download-Cover-Letter"type="button" name="button">Cover Letter</button>
    </a>
  <!-- <div class="Skills-container">
    <div class="devIcons">
      <div>
        <p class="devSkillHeaders"> Knowledge Base </p>
        <i class="devicon-html5-plain"></i>
        <i class="devicon-css3-plain"></i>
        <i class="devicon-sass-original"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-jquery-plain"></i>
        <i class="devicon-angularjs-plain"></i>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-amazonwebservices-original"></i>
        <i class="devicon-heroku-original"></i>
        <i class="devicon-postgresql-plain"></i>
        <i class="devicon-bitbucket-plain"></i>
        <i class="devicon-github-plain"></i>
      </div>

      <div class="currently-learning">
        <p class="devSkillHeaders"> Currently Learning</p>
        <i class="devicon-react-original"></i>
        <i class="devicon-java-plain"></i>
        <i class="devicon-cplusplus-plain"></i>
      </div>

    </div>
  </div> -->
  <script src = "/JS/controllers/intro.js"></script>
</main>
