@import 'sassStyle';
* {
  font-family: $font-stack;
  text-decoration: none;
  box-sizing: border-box;

}
/* GLOBAL STYLES */
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.introPageHeader{
  margin-top: 40px;
  margin-bottom: 120px;
  color: $greyColor;
  width: 100%;
  text-align: center;
  font-size: 6vw;
  transition: opacity 2.0s;
}
#joshua{
  color: #13abac;
  font-family: 'Monoton', cursive;
  font-style: normal;
}
#richard{
  color: #0f8d8e;
  font-family: 'Monoton', cursive;
  font-style: normal;
}
#smith{
  color: #0c6c6d;
  font-family: 'Monoton', cursive;
  font-style: normal;
}
.banner-background{
  width: 50%
}
.Image-description-banner {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 500px;
}
.portofolio-Image{
  position: absolute;
  right: 9%;
  z-index: -2;
  margin: auto;
  width: 700px;
  height: 500px;

}
.banner-container {
  text-align: -webkit-right;
      padding-right: 22px;
      margin-top: 372px;
      right: 48%;
      width: 58%;
      height: 130px;
      background: white;
      position: absolute;
}
.Banner {
  position: relative;
  width: 66%;
  margin-top: 26px;
  margin-left: 30.5%;
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: 70px;
  padding-right: 10px;
  font-size: 3vw;
  height: 74px;
  text-align: right;
  color: white;
  background: #13ABAC;
}
.Banner:before {
  content: "";
  font-size: 24.7px;
  position: absolute;
  display: block;
  bottom: 0em;
  border: 1.5em solid #13ABAC;
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.additional-information-container {
  height: 100px;
  margin-left: 23px;
  background: white;
  width: 90.5%;
  text-align: right;
}
.first-break-line {
  margin-top: 180px;
  margin-bottom: 120px;
  width: 50%;
  border-top: 1px solid #8c8b8b;
  text-align: center;
}
.first-break-line:after {
  content: 'JS';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 1px 13px;
  background: white;
  color: grey;
  font-size: 17px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
.skills-containers {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.Skill-headers{
  font-size: 3.5vw;
  margin-bottom: 75px;
}
.div-icon-container {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 45px;
}
.icon-container {
  margin: auto;
  font-size: 8vw;
}
.line-breaks {
  width: 10%;
  margin-top: 120px;
  margin-bottom: 130px;
  border-top: 1px solid grey;
}
#currently-learning{
  width: 50%;
}
.downloaded-information-container {
  width: 39%;
  margin: auto;
  display: flex;
}
.downloadable-container{
  width: 35%;
  text-align: center;
  margin: auto;
}
#pdfIcon{
  font-size: 7vw;
}
.showcase-container{
  width: 100%;
  text-align: center;

}
.main-carousel {
  // display: flex;
  // overflow:hidden;
  // position:relative;
  // width:auto;
}
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #13ABAC;
}
.flickity-prev-next-button.no-svg {
  color: #13ABAC;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
.carousel-cell{
  position: relative;
  width: 66%;
  height: 400px;;
  margin-right: 10px;
  border-radius: 5px;
}
.carousel-cell:before{
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.downloads{
  color:#13abac;
}
.downloads:hover{
  color:#0f8d8e;
}
#sportsPug-container {
  background: url("../Images/Screen Shot 2017-02-28 at 5.58.29 PM.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#twitter-clone-container {
  background: url("../Images/Screen Shot 2017-03-01 at 5.01.17 PM.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#itunes-clone-container {
  background: url("../Images/Screen Shot 2017-03-01 at 6.30.33 PM.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hidden-visit {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 7vw;
  color: white;
  opacity: 0;
  background: grey;
  text-align: center;
  transition: 2.0s;
}
.hidden-visit:hover{
  opacity: .9;
  cursor: pointer;
}
